@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar {
    width: .5vw;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}

::-webkit-scrollbar-thumb {
    background-color: pink;
    border-radius: 50px;
}

.swiper-pagination-bullet {
    transition: all .5s ease;
}

.swiper-pagination-bullet-active {
    width: 20px !important;
    border-radius: 20px !important;
    background-color: red !important;
}

.promotion {
    background-image: url('./../../public/images/promotion.jpg');
}

.top-sales {
    background-image: url('./../../public/images/top-sales.jpg');
}

.news-products {
    background-image: url('./../../public/images/news-product.jpg');
}

.container-slider .swiper-slide {
    width: 200px !important;
}